In [12]:
import pandas as pd

In [13]:
uri = "https://gist.githubusercontent.com/guilhermesilveira/2d2efa37d66b6c84a722ea627a897ced/raw/10968b997d885cbded1c92938c7a9912ba41c615/tracking.csv"
dados = pd.read_csv(uri)
dados.head()

   home  how_it_works  contact  bought
0     1             1        0       0
1     1             1        0       0
2     1             1        0       0
3     1             1        0       0
4     1             1        0       0

In [14]:
mapa = {
    "home" : "principal",
    "how_it_works" : "como_funciona",
    "contact" : "contato",
    "bought" : "comprou"
}
dados = dados.rename(columns = mapa)

In [15]:
x = dados[["principal", "como_funciona","contato"]]
x.head()

   principal  como_funciona  contato
0          1              1        0
1          1              1        0
2          1              1        0
3          1              1        0
4          1              1        0

In [16]:
y = dados["comprou"]
y.head()

0    0
1    0
2    0
3    0
4    0
Name: comprou, dtype: int64

In [17]:
dados.shape

(99, 4)

In [18]:
treino_x = x[:75]
treino_y = y[:75]
teste_x = x[75:]
teste_y = y[75:]

print("Treinamos com %d elementos e testamos com %d elementos" % (len(treino_x), len(teste_x)))

Treinamos com 75 elementos e testamos com 24 elementos

In [19]:
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score

modelo = LinearSVC()
modelo.fit(treino_x, treino_y)
previsoes = modelo.predict(teste_x)

taxa_de_acerto = accuracy_score(teste_y, previsoes) * 100
print("A acurácia foi de %.2f%%" % taxa_de_acerto)

A acurácia foi de 95.83%

## Usando a biblioteca para separar treino e teste

In [35]:
from sklearn.model_selection import train_test_split
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score

SEED = 20

treino_x, teste_x, treino_y, teste_y = train_test_split(x, y, random_state = SEED,test_size = 0.25)
print("Treinamos com %d elementos e testamos com %d elementos" % (len(treino_x), len(teste_x)))

modelo = LinearSVC()
modelo.fit(treino_x, treino_y)
previsoes = modelo.predict(teste_x)

taxa_de_acerto = accuracy_score(teste_y, previsoes) * 100
print("A acurácia foi de %.2f%%" % taxa_de_acerto)

Treinamos com 74 elementos e testamos com 25 elementos
A acurácia foi de 96.00%

In [37]:
treino_y.value_counts()

0    47
1    27
Name: comprou, dtype: int64

In [38]:
teste_y.value_counts()

0    19
1     6
Name: comprou, dtype: int64

### a proporção de pessoas que não compraram para as que compraram, ficou diferente no treino e no teste
### proporção de treino ficou 47 não compram / 27 que compraram = 1,74, ao passo que no teste foi foram de 
### 19 não compraram / 6 compraram = 3,16

## Estratificando o teste

In [39]:
from sklearn.model_selection import train_test_split
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score

SEED = 20

treino_x, teste_x, treino_y, teste_y = train_test_split(x, y, random_state = SEED,test_size = 0.25,
                                                       stratify = y)
print("Treinamos com %d elementos e testamos com %d elementos" % (len(treino_x), len(teste_x)))

modelo = LinearSVC()
modelo.fit(treino_x, treino_y)
previsoes = modelo.predict(teste_x)

taxa_de_acerto = accuracy_score(teste_y, previsoes) * 100
print("A acurácia foi de %.2f%%" % taxa_de_acerto)

Treinamos com 74 elementos e testamos com 25 elementos
A acurácia foi de 96.00%

In [40]:
treino_y.value_counts()

0    49
1    25
Name: comprou, dtype: int64

In [41]:
teste_y.value_counts()

0    17
1     8
Name: comprou, dtype: int64

### usando o stratify com base no y, a proporção de pessoas que não compraram ficou de 2 para 1